.header {
  background-color: var(--bg);
  padding: 10px;
  width: 100vw;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.file-toolbar {
  background-color: var(--toolbar-bg);
  display: flex;
  flex-direction: row;
  align-items: center;
  border: none;
  border-radius: 15px;
  width: 100%;
  height: 30px;
  padding: 2px;
  padding-left: 10px;
}

.formatting-toolbar{
  /* background-color: blue; */
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 30px;
}

.formula-bar {
  /* background-color: orange; */
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 30px;
}

.header-input {
  background-color: var(--header-input-bg);
  color: var(--header-input-text);
  font-size: 14px;
  display: flex;
  align-items: center;
  padding: 4px 8px;
  height: 30px;
}

.cell-address-input {
  width: 80px;
  border: 0;
  border-radius: 10px 0 0 10px;
  outline: 0;
}

.formula-bar-separator {
  color: var(--header-separator-fx);
  font-size: 18px;
  padding: 0 2px;
  user-select: none;
}

.formula-bar-fx {
  color: var(--header-separator-fx);
  padding: 0 2px;
  font-family: cursive;
  font-size: 17px;
  font-weight: bold;
  font-style: italic;
  user-select: none;
}

.formula-input {
  flex: 1;
  border: 0;
  border-radius: 0 10px 10px 0;
  outline: 0;
}
